body {
	font-family: Helvetica Neue;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

#task-list {
	padding-bottom: 80px;

	.task {
		display: block;
		padding: 15px;
		font-size: 18px;
		border-bottom: 1px solid #FAFAFA;
		position: relative;
		cursor: pointer;

		.task-title {
			width: 100%;
			display: block;
		}
		
		.task-due-date {
			font-size: 12px;
			color: #CCC;
			font-weight: bold;
			letter-spacing: 1px;
		}

		&.selected {
			
			.actions {
				display: inline-block;
			}

			.notes {
				display: block;
			}

		}

		&.complete {

			.task-title {
				text-decoration: line-through;
			}

		}
	}

	.notes {
		display: none;
		margin-top: 15px;
		border-top: 1px solid #eee;
		color: #666;
		background-color: #FAFAFA;
		border-radius: 0 0 5px 5px;
		font-size: 16px;

		.note {
			display: block;
			padding: 15px;
			border-bottom: 1px solid #EEE;

			.note-date {
				display: block;
				font-size: 12px;
				font-weight: bold;
				color: #CCC;
				padding: 7px 0;
			}

		}

		textarea.new-note {
			width: 100%;
			border: 1px solid #CCC;
			font: inherit;
			resize: none;
			margin-bottom: 15px;
			padding: 7px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			&:focus {
				outline: none;
			}
		}

		.add-note-button {
			border: none;
			line-height: 32px;
			border: 2px solid #333;
			border-radius: 4px;
			background-color: transparent;
			font-size: inherit;
			padding: 0 20px;
		}

	}

	.actions {
		display: none;
		position: absolute;
		right: 15px;
		top: 15px;

		a {
			font-size: 24px;
			color: inherit;
		}

	}

}

#add-task-button-view {

	#add-task-button {
		border: none;
	}

}

#add-task-view {

	label {
		font-weight: bold;
	}

	input,
	textarea,
	select {
		width: 100%;
		display: block;
	}

}

@media (min-width: 768px)  {

	.task-title {
		width: 80%;
	}

}
